<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
      <div class="page-title-box">
          <div class="btn-group pull-right">
              <ol class="breadcrumb hide-phone p-0 m-0">
                  <li class="breadcrumb-item"><a href="dashboard">Tiny Task</a></li>
                  <li class="breadcrumb-item active">Task list</li>
              </ol>
          </div>
          <h4 class="page-title">Tasks</h4>
      </div>
  </div>
</div>
<!-- end page title end breadcrumb -->
