  <!-- MENU Start -->
  <div class="navbar-custom">
    <div class="container-fluid">
        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
                <li class="has-submenu">
                    <a href="dashboard"><i class="ti-home"></i>Dashboard</a>
                </li>                         
                <li class="has-submenu active">
                    <a href="tasklist"><i class="ti-marker-alt"></i>Tasks</a>                                
                </li>
                <li class="has-submenu">
                    <a href="#"><i class="ti-user"></i>Users</a>                                
                </li>
            </ul>
            <!-- End navigation menu -->
        </div> <!-- end #navigation -->
    </div> <!-- end container -->
</div> <!-- end navbar-custom -->