table{
    width:100%;
}
table tr{
    padding:2px 0;
}
.mat-radio-button{
    margin-right: 10px;
}
.mat-dialog-content{
    height:70%;
}
.sec-btn{
    margin-left:8px;
}
.mat-form-field{
    margin:10px !important;
}
.txtarea{
    width:210px;
}